.wrap{
  padding: 80px 0 0!important;
  border: 1px solid #e1e0e0;
}
.content{
  max-width:620px;
  margin: 0 auto;
  @media screen and (min-width: 935px){
    float: left;
    max-width: 620px;
  }

  h2{
    margin:15px auto 50px;
    padding: 0 15px;
    color: #4f4e4e;
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }
  p{
    margin: 25px 0 25px 15px;
    padding: 0 15px;
    color: #606060;
    font-size: 16px;
    line-height: 20px;
  }
  a{
    display: inline-block;
    width: 186px;
    margin: 0 0 75px 15px;
    padding: 10px 20px;
    border: 2px solid #c2c2c2;
    border-radius: 25px;
    text-align: center;
    color: #c2c1c1;
    font-size: 16px;
    font-weight: 700;
    transition: 0.5s;
    &:hover{
      color: #4f4e4e;
      border: 2px solid #4f4e4e;
      background: #c2c1c1;
    }
  }
}