@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@font-face {
  font-family: 'Eurofurenceregular';
  font-style: normal;
  font-weight: normal;
  src: local("Eurofurenceregular"), url("../fonts/eurofurence.ttf") format("truetype");
}
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
/* line 4, ../sass/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 5, ../sass/_reset.scss */
body {
  padding: 0;
  margin: 0;
  font: 22px 'Lato', sans-serif;
  background: #fff;
  color: #000;
}

/* line 6, ../sass/_reset.scss */
div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

/* line 12, ../sass/_reset.scss */
select, input, textarea {
  font-size: 14px;
  vertical-align: middle;
}

/* line 13, ../sass/_reset.scss */
textarea {
  vertical-align: top;
}

/* line 14, ../sass/_reset.scss */
:focus {
  outline: none;
}

/* line 15, ../sass/_reset.scss */
input[type=submit] {
  cursor: pointer;
}

/* line 16, ../sass/_reset.scss */
img, fieldset {
  border: 0;
}

/* line 17, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 18, ../sass/_reset.scss */
a:link, a:visited {
  font: 22px 'Lato', sans-serif;
  color: #4C8BBF;
  text-decoration: none;
}

/* line 19, ../sass/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 1, ../sass/layout/_header.scss */
#navbar {
  overflow: hidden;
  margin-bottom: 80px;
  min-height: 130px;
  background-color: #292929;
  box-shadow: inset 0 -6px 0 #1e1e1e;
}
/* line 7, ../sass/layout/_header.scss */
#navbar h1 {
  float: left;
  margin-top: 32px;
}
/* line 10, ../sass/layout/_header.scss */
#navbar h1 a {
  color: white;
  font-family: Eurofurenceregular;
  font-size: 40px;
  transition: 0.5s;
}
/* line 15, ../sass/layout/_header.scss */
#navbar h1 a:hover {
  color: #516fad;
}
/* line 20, ../sass/layout/_header.scss */
#navbar nav {
  float: right;
  max-width: 150px;
  margin-top: 42px;
}
@media screen and (min-width: 670px) {
  /* line 20, ../sass/layout/_header.scss */
  #navbar nav {
    max-width: 535px;
    margin-top: 0;
  }
}
/* line 29, ../sass/layout/_header.scss */
#navbar .iconMenu {
  clear: both;
  float: right;
  color: #fff;
  cursor: pointer;
}
@media screen and (min-width: 670px) {
  /* line 29, ../sass/layout/_header.scss */
  #navbar .iconMenu {
    display: none;
  }
}
/* line 39, ../sass/layout/_header.scss */
#navbar .itemsMenu li {
  float: left;
  width: 100%;
  display: inline;
  margin: 0 0 10px 0;
  text-align: right;
}
@media screen and (min-width: 670px) {
  /* line 39, ../sass/layout/_header.scss */
  #navbar .itemsMenu li {
    display: inline-block;
    width: 130px;
    margin: 0;
    box-shadow: -1px 0 0 #1d1d1d;
    text-align: center;
  }
  /* line 51, ../sass/layout/_header.scss */
  #navbar .itemsMenu li:last-child {
    margin-right: 0;
    box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d;
  }
}
/* line 56, ../sass/layout/_header.scss */
#navbar .itemsMenu li a {
  display: inline-block;
  text-shadow: 0 1px 0 #1e1e1e;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width: 670px) {
  /* line 56, ../sass/layout/_header.scss */
  #navbar .itemsMenu li a {
    width: 100%;
    padding-bottom: 51px;
    margin-top: 51px;
  }
}
/* line 67, ../sass/layout/_header.scss */
#navbar .itemsMenu li a:hover {
  transition: 0.5s;
  border-bottom: 3px solid #58c93a;
  color: #58c93a;
}

/* line 76, ../sass/layout/_header.scss */
.showitems {
  display: block !important;
  transition: 1s;
}

/* line 81, ../sass/layout/_header.scss */
.iconMenu {
  display: block;
}

/* line 85, ../sass/layout/_header.scss */
.itemsMenu {
  display: none;
}
@media screen and (min-width: 670px) {
  /* line 85, ../sass/layout/_header.scss */
  .itemsMenu {
    display: block;
  }
}

/* line 92, ../sass/layout/_header.scss */
.itemsMenu li {
  display: block;
}

/* line 1, ../sass/site-parts/_aside.scss */
.right-aside {
  margin-bottom: 40px;
}
/* line 3, ../sass/site-parts/_aside.scss */
.right-aside h2 {
  margin-bottom: 15px;
  border-left: 1px solid #58c93a;
  padding: 10px 20px;
  background-color: #f8f8f8;
  box-shadow: inset 3px 0 0 #58c93a;
  text-align: left;
  color: #6c6969;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 15, ../sass/site-parts/_aside.scss */
.right-aside p {
  margin-bottom: 25px;
  padding: 0 15px;
  color: #737373;
  font-size: 16px;
  line-height: 20px;
}
/* line 22, ../sass/site-parts/_aside.scss */
.right-aside input {
  width: 100%;
  height: 50px;
  padding: 15px;
  border: 1px solid #e1e0e0;
  font-size: 16px;
  color: #6c6969;
  background-color: white;
}
/* line 31, ../sass/site-parts/_aside.scss */
.right-aside input::-moz-placeholder {
  text-overflow: ellipsis;
  color: #b9b9b9;
  font-size: 12px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
/* line 32, ../sass/site-parts/_aside.scss */
.right-aside input:-moz-placeholder {
  text-overflow: ellipsis;
  color: #b9b9b9;
  font-size: 12px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
/* line 33, ../sass/site-parts/_aside.scss */
.right-aside input:-ms-input-placeholder {
  text-overflow: ellipsis;
  color: #b9b9b9;
  font-size: 12px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
/* line 35, ../sass/site-parts/_aside.scss */
.right-aside .main-descript {
  margin-bottom: 50px;
}
/* line 38, ../sass/site-parts/_aside.scss */
.right-aside .search {
  margin-bottom: 75px;
}
/* line 42, ../sass/site-parts/_aside.scss */
.right-aside .tuned-mail form {
  position: relative;
}
/* line 44, ../sass/site-parts/_aside.scss */
.right-aside .tuned-mail form button {
  position: absolute;
  right: 0;
  top: 0px;
  bottom: 0px;
  border: none;
  background: transparent;
}
/* line 52, ../sass/site-parts/_aside.scss */
.right-aside .tuned-mail form .fa {
  font-size: 30px;
  color: #e1e0e0;
}

/* line 1, ../sass/layout/_footer.scss */
footer {
  background-color: #222;
}
/* line 3, ../sass/layout/_footer.scss */
footer .container {
  padding: 100px 5px;
}
/* line 5, ../sass/layout/_footer.scss */
footer .container .footer-logo-block {
  max-width: 380px;
  color: #fff;
  margin: 0 auto 70px;
}
/* line 9, ../sass/layout/_footer.scss */
footer .container .footer-logo-block img {
  max-width: 100%;
}
/* line 13, ../sass/layout/_footer.scss */
footer .container p {
  text-align: center;
  display: block;
  font: 16px/40px "AmbleRegular";
  color: #e4e4e4;
}
/* line 18, ../sass/layout/_footer.scss */
footer .container p a {
  color: #d87843;
  font: 16px/40px "AmbleBold";
}
/* line 21, ../sass/layout/_footer.scss */
footer .container p a:hover {
  text-shadow: 0 1px 1px rgba(0, 3, 1, 0.65);
}

/* line 21, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/style.scss */
.container {
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  overflow: hidden;
}
/* line 12, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 22, ../sass/style.scss */
img {
  max-width: 100%;
}
