@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@font-face {
  font-family: 'Eurofurenceregular';
  font-style: normal;
  font-weight: normal;
  src: local("Eurofurenceregular"), url("../fonts/eurofurence.ttf") format("truetype");
}
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
/* line 4, ../sass/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 5, ../sass/_reset.scss */
body {
  padding: 0;
  margin: 0;
  font: 22px 'Lato', sans-serif;
  background: #fff;
  color: #000;
}

/* line 6, ../sass/_reset.scss */
div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

/* line 12, ../sass/_reset.scss */
select, input, textarea {
  font-size: 14px;
  vertical-align: middle;
}

/* line 13, ../sass/_reset.scss */
textarea {
  vertical-align: top;
}

/* line 14, ../sass/_reset.scss */
:focus {
  outline: none;
}

/* line 15, ../sass/_reset.scss */
input[type=submit] {
  cursor: pointer;
}

/* line 16, ../sass/_reset.scss */
img, fieldset {
  border: 0;
}

/* line 17, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 18, ../sass/_reset.scss */
a:link, a:visited {
  font: 22px 'Lato', sans-serif;
  color: #4C8BBF;
  text-decoration: none;
}

/* line 19, ../sass/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 1, ../sass/layout/_header.scss */
#navbar {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  margin: 15px 0 0 15px;
}
/* line 7, ../sass/layout/_header.scss */
#navbar .iconMenu {
  float: left;
  color: #fff;
  cursor: pointer;
}
/* line 16, ../sass/layout/_header.scss */
#navbar .itemsMenu li {
  float: left;
  width: 100%;
  display: inline;
  margin: 0 0 10px 0;
  text-align: left;
}
@media screen and (min-width: 930px) {
  /* line 16, ../sass/layout/_header.scss */
  #navbar .itemsMenu li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    padding: 0 10px;
  }
  /* line 27, ../sass/layout/_header.scss */
  #navbar .itemsMenu li:last-child {
    margin-right: 0;
  }
}
/* line 31, ../sass/layout/_header.scss */
#navbar .itemsMenu li a {
  color: #fff;
}
/* line 33, ../sass/layout/_header.scss */
#navbar .itemsMenu li a:hover {
  transition: 0.5s;
  border-bottom: 3px solid #f2f2f2;
}

/* line 42, ../sass/layout/_header.scss */
.showitems {
  display: block !important;
  transition: 1s;
}

/* line 47, ../sass/layout/_header.scss */
.iconMenu {
  display: block;
}

/* line 51, ../sass/layout/_header.scss */
.itemsMenu {
  display: none;
}

/* line 55, ../sass/layout/_header.scss */
.itemsMenu li {
  display: block;
}

/* line 1, ../sass/layout/_footer.scss */
footer {
  background-color: #222;
}
/* line 3, ../sass/layout/_footer.scss */
footer .container {
  padding: 100px 5px;
}
/* line 5, ../sass/layout/_footer.scss */
footer .container .footer-logo-block {
  max-width: 380px;
  color: #fff;
  margin: 0 auto 70px;
}
/* line 9, ../sass/layout/_footer.scss */
footer .container .footer-logo-block img {
  max-width: 100%;
}
/* line 13, ../sass/layout/_footer.scss */
footer .container p {
  text-align: center;
  display: block;
  font: 16px/40px "AmbleRegular";
  color: #e4e4e4;
}
/* line 18, ../sass/layout/_footer.scss */
footer .container p a {
  color: #d87843;
  font: 16px/40px "AmbleBold";
}
/* line 21, ../sass/layout/_footer.scss */
footer .container p a:hover {
  text-shadow: 0 1px 1px rgba(0, 3, 1, 0.65);
}

/* line 21, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/style.scss */
.container {
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  overflow: hidden;
}
/* line 12, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 22, ../sass/style.scss */
img {
  max-width: 100%;
}
